<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>EShop application</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">EShop</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/product}">Product</a>
            </li>
            <li class="nav-iteme">
                <a class="nav-link" th:href="@{/cart}">Cart</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <span th:if="${cart.size() == 0}">Cart is empty</span>
    <div th:if="${cart.size() > 0}">
        <div class="row py-2">

            <div class="col-12">
                <table class="table table-bordered my-2">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Count</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amounnt</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${cart}">
                        <th scope="row" th:text="${item.productId}">1</th>
                        <td th:text="${item.productName}">Product1</td>
                        <th class="align-middle" th:text="${item.count}">2</th>
                        <!--                    <th class="align-right" th:text="${item.productPrice}">1,0</th>-->
                        <!--                    <th class="align-right" th:text="${item.amount}">1,0</th>-->
                        <th class="align-right" th:text="${#numbers.formatDecimal(item.productPrice,1,2)}">1,0</th>
                        <th class="align-right" th:text="${#numbers.formatDecimal(item.amount,1,2)}">1,0</th>

                        <td>
                            <a class="btn btn-success" th:href="@{'/cart/add?id='+${item.productId}}"><i
                                    class="fas fa-plus"></i></a>
                            <a class="btn btn-danger" th:href="@{'/cart/remove?id='+${item.productId}}"><i
                                    class="fas fa-minus"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
