<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="fragments/header.html :: head">
</head>

<body>

<nav th:replace="fragments/header.html :: navigation">
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12" sec:authorize="hasRole('SUPER_ADMIN')">
            <a class="btn btn-primary" th:href="@{/user/new}">Add User</a>
        </div>

        <form class="form-inline mt-3" method="get">
            <div class="form-group mx-sm-3 mb-2">
                <label for="name-filter" class="sr-only">Name filter:</label>
                <input th:value="${param.nameFilter}" type="text" class="form-control"
                       name="nameFilter" id="name-filter" placeholder="Name filter">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Apply</button>
        </form>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th th:replace="fragments/sort_header :: sort_header('Id', 'id')">Id</th>
                    <th th:replace="fragments/sort_header :: sort_header('Login', 'login')">Id</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr th:unless="${users.empty}" th:each="user : ${users}">
                    <th scope="row" th:text="${user.id}">1</th>
                    <td th:text="${user.username}">Alex</td>
                    <td>
                        <div class="col-12" sec:authorize="hasRole('SUPER_ADMIN')">
                            <a class="btn btn-success" th:href="@{/user/{id}(id = ${user.id})}"><i
                                    class="fas fa-edit"></i></a>
                            <form class="d-inline" th:method="delete" th:action="@{/user/{id}(id = ${user.id})}">
                                <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>

                <tr th:if="${users.empty}">
                    <td colspan="5">No data</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts">
</th:block>

</body>
</html>
